/* GLOBAL CSS */

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-image: url('i5s306a.png');
	color: rgb(180, 255, 176);
}

.login {
	position: absolute;
	display: inline-block;
	top: 30%;
	width: 40%;
}

.field:focus {
	outline: none;
	border-style: solid;
	border-color: #A7BBFF;
	border-radius: 12px;
	border-width: 2px;
}

.field {
	position: relative;
	height: 30px;
	width: 100%;
	max-width: 400px;
	min-width: 200px;
	border-style: solid;
	border-color: #C4C4C4;
	border-radius: 12px;
	border-width: 2px;
	text-indent: 2%;
	font-size: 15px;
	margin-bottom: 10px;
}

.incorrectUOrP {
	visibility: hidden;
	color: #3A3A3A;
	position: relative;
	text-align: center;
	padding-top: 7px;
	background-color: #FFADAD;
	border-radius: 12px;
	border-style: solid;
	border-width: 3px;
	border-color: #FF0000;
	width: 100%;
	max-width: 400px;
	min-width: 200px;
	height: 35px;
	font-size: 20px;
}

.button:focus {
	outline: none;
	border-style: solid;
	border-color: #A7BBFF;
	border-radius: 12px;
	border-width: 2px;
	background-color: #CFDAFF;
}

.button {
	position: relative;
	border-style: solid;
	border-color: #C4C4C4;
	border-radius: 12px;
	border-width: 2px;
	background-color: white;
	/*width: 100%;*/
	max-width: 400px;
	min-width: 200px;
	font-size: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: -6px;
}

#logged-in {
	background-color: rgba(212, 237, 219, 0.9);
	color: rgba(21, 86, 78, 1);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

#title {
	padding-left: 20px;
  font-size: 50px;
  font-weight: bold;
	color: rgb(180, 255, 176);
}

#user-info {
	padding-right: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: end;
}

#main {
	display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#contact_info {
	font-size: 20px;
}

#heading {
	border-bottom: 1px;
}

#main-menu {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding-top: 20px;
	color: rgb(180, 255, 176);
}

#menu-options {
	color: rgb(255, 251, 0);
	font-size: 20px;
	font-weight: lighter;
	background-color: rgb(164, 192, 255);
	border-radius: 20px;
	padding-bottom: 5px;
}

#required {
	color: red;
}

#subtext {
	font-size: 12px;
	color: rgb(150, 150, 150);
	font-weight: normal;
}

.btn-default {
	background-color: rgb(150, 150, 150);
	color: rgb(255, 255, 255);
}

/****** PAGE SPECIFIC CSS ******/

/** gallery.php **/
#galleryTable {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color: #CFDAFF;
}

#image {
	width: 150px;
}

/** login.html **/
#loginBlock {
	display: flex;
}
#loginHeading {
	font-size: 20px;
	text-align: center;
}

h1, h5 {
	padding-top: 20px;
	color: rgb(249, 252, 16);
}

#submit {
	padding-top: 20px;
}

/** addresource.html **/
#ARtitle {
	font-size: 30px;
	font-weight: bold;
	color: rgb(249, 255, 14);
}

#close {
	border-radius: 20px;
	color: white;
	background-color: black;
}

#tableHeading {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
	color: rgb(249, 255, 14);
}

#tableHeading1 {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
	padding-top: 20px;
	color: rgb(249, 255, 14);
}

#cancelSave {
	display: flex;
	justify-content: flex-end;
}

/** search_resources.php **/
#searchTable {
	color: rgb(249, 255, 14);
	background-color: rgb(71, 79, 94);
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/** purchase.php **/
body {
	font-family: Arial;
	font-size: 17px;
	padding: 8px;
  }
  
  * {
	box-sizing: border-box;
  }
  
  .row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	margin: 0 -16px;
  }
  
  .col-25 {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
  }
  
  .col-50 {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
  }
  
  .col-75 {
	-ms-flex: 75%; /* IE10 */
	flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
	padding: 0 16px;
  }
  
  .container {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
  }
  
  input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }
  
  label {
	margin-bottom: 10px;
	display: block;
  }
  
  .icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
  }
  
  /*.btn {
	background-color: #04AA6D;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
  }*/
  
  .btn:hover {
	background-color: #45a049;
  }
  
  a {
	color: #2196F3;
  }
  
  hr {
	border: 1px solid lightgrey;
  }
  
  span.price {
	float: right;
	color: grey;
  }
  
  @media (max-width: 800px) {
	.row {
	  flex-direction: column-reverse;
	}
	.col-25 {
	  margin-bottom: 20px;
	}
  }